
body {
    background-color: #FFFFFF;
    color: #212529;
}

.specifiche {
    display: none;
}

.category-card {
    cursor: pointer;
    border: 2px solid #e9ecef;
    transition: all 0.2s ease;
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1.5rem;
}
.category-card:hover {
    border-color: #6c757d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.category-card.selected {
    border-color: #343a40;
    background-color: #e9ecef;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.category-card input[type="radio"] {
    display: none;
}