<!DOCTYPE html>
<html>
    <header>
        <nav>
            <h2>
                <#-- Determina la destinazione in modo esplicito -->
                <#assign destination = "login">
                <#if userType??>
                    <#assign destination = userType>
                </#if>
                <a href="${destination}" style="color: black; text-decoration: none; transition: all 0.3s ease;" 
                   onmouseover="this.style.color='#555'; this.style.textDecoration='underline'" 
                   onmouseout="this.style.color='black'; this.style.textDecoration='none'">E-commerce</a>
            </h2>
            <div class="user-info">
                <#if username??>
                    Benvenuto, ${username!""}
                    <#if userType??>
                        <span style="font-size: 0.8em; color: #666;">
                            (${userType!""})
                        </span>
                    </#if>
                
                </#if>
            </div>
        </nav>
    </header>
</html>