<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style\style2.css">
        <#include "head.html">
        </head>
    <body>
        <div class="contenitore">
            <#include "header.ftl.html">
            <form id="form" method="get"  action="utenteRegistrato">
                
                    
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <button type="submit" class="task" name="azione" value="richiesta" >
                                    Richieste di acquisto
                                </button>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="task" name="azione" value="richieste" >
                                    Vai a Richiesta Acquisto
                                </button>
                             </div>
                            
                            <div class="col-3">
                                <button type="submit" class="task" name="azione" value="prodotti">
                                    Visualizza Prodotti Candidati
                                </button>
                             </div>
                        </div>
                   
               
            </form>

        </div>


    </body>
</html>